/* Reset and Basic Styles */
/*body {
    margin: 0;
    font-family: Arial, sans-serif;
  }*/
  
  .Home-Mainpage {
    
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 4500px;
    justify-content: center;
    align-content: center;
  }
  
  /* Header Image Container */
  .Home-page-image-container {
    background-color: #4f23b8;
    width: 100%;
    height: 250px;
    margin-top: 0px;
    align-content: center;

  }
  .home-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    z-index: -1;
  }


  .Home-page-context-container{
    position: absolute;
    width: 100vw;
    
    
    display: block;
    justify-content: center;
   
    
    
    
    
  }
  
  /* Main Content Container */
  .Home-page-main-container {
    width: 80vw;
    height: 100%;
     /* Adjusts height, excluding the image height */
    min-height: 2950px;
    background-color: #4f23b8;
    
    
   
    
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: transparent;
    margin: 00px;
    display: flex;
    flex-direction: column;
    
    justify-self: center;
    
    
  }
  
  /* Main Content Text */
  .Home-page-Title-content {
    display: flex;
    flex-direction: column;
    color: #333;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    
    
  }
  .Home-page-Heading{
    margin-top: 10px;
    margin-bottom: 10px;
      font-size: 30px;
      font-weight: 1000;
      color: white;
      width: 500px;
  }
  
  /* Overlay Div */
  .overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1; /* Ensures overlay is on top */
    text-align: center;
  }
  
  .overlay h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .overlay p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  .Home-page-services{
    
     /* Adjusts height, excluding the image height */
     margin-top: 40px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    
  }
  .footer{
    background-color: black;
    
    
    
    
  }