.search-for-booking-content{margin: 0px;
      display: flex;
      padding: 15px 40px;
      
       /* Adds space between EstimateForm and ServiceMap */
       justify-content: space-between;
       gap: 1rem;
       margin-top: 60px;
       
  }
  .estimate-form-container{
      background-color: #ebe3fb;
      width: 50%;
      border-radius: 8px;
      height: 85vh;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  .service-map{
    height: 85vh;
    width: 50%;
  }

 


    
    
   
  
    @media (min-width: 768px) {
      .search-for-booking-content{
        grid-template-columns: repeat(2, 1fr);
      }}