.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    
    
    margin: 0px;
    width: 100%;
  }
  
  /* Fixed width and height for the calendar wrapper */
  .calendar-wrapper {
    width: 350px;
    height: 210px;
   
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Full width and height for the calendar itself */
  .react-calendar {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /* Navigation bar (month and year) */
  .react-calendar__navigation {
    background-color: #ece5f9;
    color: #313239;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
    margin: 0; /* Remove margin to eliminate the gap */
    
  }
  
  
  /* Navigation label (month and year) */
  .react-calendar__navigation__label {
    font-size: 1rem;
    font-weight: bold;
  }
  
  /* Navigation buttons */
  .react-calendar__navigation button {
    color: black;
    font-size: 1rem;
   
  }
  
  .react-calendar__navigation button[disabled] {
    background-color: transparent;
   }
  /* Weekday initials (S, M, T, W, T, F, S) */
  .react-calendar__month-view__weekdays {
    
    text-align: center;
    font-weight: bold;
    color: #898989;
    font-size: 0.9rem;
    height: 23px;
    margin: 0; /* Remove any margin to eliminate the gap */
  }
  
  /* Individual day tiles */
  .react-calendar__tile {
    padding: 0.2rem;
    width: 40px;
    font-size: 0.79rem;
    text-align: center;
    font-weight: 520;
    cursor: pointer;
    
  }
  
  /* Highlight current date */
  .react-calendar__tile--now {
    background-color: transparent;
    color: black;
  }
  
  /* Highlight selected date */
  .react-calendar__tile--active {
    background-color: #7e57c2;
   
    color: white;
    border: 1px #030008 solid;
    border-radius: 50%;
  }
  
  /* Disabled dates (past dates) */
  .react-calendar__tile[disabled] {
   
    background-color:transparent;
    color: #030008;
    
  }
  
  /* Hover effect for tiles */
  .react-calendar__tile:enabled:hover {
    background-color: #d1c4e9;
    color: white;
    border-radius: 50%;
  }
  
  /* Selected date focus */
  .react-calendar__tile:enabled:focus {
    background-color: #9575cd;
    color: white;
    
  }
  
  /* Paragraph displaying the selected date */
  





