.time-slot-container {
    margin-top: 20px;
    text-align:left;
    padding: 20px;
   
  }
  
  .time-slot-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .time-slot-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .time-slot-button:hover {
    background-color: #ddd;
  }
  
  .time-slot-button.selected {
    background-color: #7e57c2;
    color: white;
  }
  
  .time-slot-button:focus {
    outline: none;
  }
  